<p-toast />

@if (!loading && layout.blocks?.length! > 0) {
    <div class="formgrid grid gap-4">
    
        <div class="col-1">
            <app-menu-progress></app-menu-progress>
        </div>
    
        <div class="col-10">
            <div class="w-9 m-auto">
                <app-layout #layoutRef [layout]="layout"></app-layout>
                
                @if (form) {
                    <form [formGroup]="form">
                        <app-action-buttons [disableNext]="form.invalid" (submit)="sendSubmission()"></app-action-buttons>
                    </form>
                }
            </div>
        </div>
    </div>
} @else if (!loading && layout.blocks?.length! === 0) {
    This form does not exist
} @else {
    loading...
}